[
    {sasl, [
        {sasl_error_logger, {file, "logs/sasl.log"}}
    ]},
    {kernel, [
        {logger, [
            {handler, default, logger_std_h,
                #{formatter => {logger_formatter, #{single_line => true}}}}
        ]}
    ]},
    {lager, [
        {log_root, "logs"},
        {error_logger_hwm, 1000},
        {handlers, [
            {lager_console_backend, [{level, debug}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}]},
            {lager_file_backend, [
                {file, "debug.log"},
                {level, debug},
                {size, 1000000000},
                {date, ""},
                {count, 10},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", message, "\n"]}
            ]}
        ]},
        {crash_log, "crash.log"}
    ]},

    {es3, [
        {nodes, [
            'b@127.0.0.1'
        ]},
        {chunk_size, 5000000}
    ]}
].