{erl_opts, [
    debug_info
]}.

{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.6.3"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.9.0"}}}
]}.

{relx, [
    {release, {es3, "v0.1.0"}, [es3]},
    {dev_mode, false},
    {include_erts, false},
    {sys_config_src, "config/sys.config.src"},
    {vm_args_src, "config/vm.args.src"},
    {extended_start_script, true}
]}.

{profiles, [
    {local, [
        {relx, [
            {dev_mode, true},
            {include_erts, false}
        ]}
    ]},
    {test, [
        {relx, [
            {dev_mode, true},
            {include_erts, false}
        ]}
    ]},

    {test_1, [
        {relx, [
            {dev_mode, true},
            {include_erts, false}
        ]}
    ]},
    {test_2, [
        {relx, [
            {dev_mode, true},
            {include_erts, false}

        ]}
    ]},
    {test_3, [
        {relx, [
            {dev_mode, true},
            {include_erts, false}
        ]}
    ]}
]}.