{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.8"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.6.3"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.9.0"}}}
]}.

{relx, [
    {release, {es3, "v0.1.0"}, [es3]},
    {dev_mode, false},
    {include_erts, false},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"}
]}.

{profiles, [
    {local, [
        {relx, [
            {dev_mode, true},
            {include_erts, false},
            {overlay, [
                {copy, "config/local/es3.config", "es3.config"}
            ]}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {overlay, [
                {copy, "config/prod/es3.config", "es3.config"}
            ]}
        ]}
    ]}
]}.